/* Para dispositivos muito pequenos */
@media (max-width: 359px) {
  .custom-mt {
    margin-top: 450px;
  }
}

/* Intervalo de 280px a 653px */
@media (min-width: 280px) and (max-width: 653px) {
  .custom-mt {
    margin-top: 740px;
  }
}

/* Intervalo de 654px a 1024px - Incluindo a maioria dos tablets */
@media (min-width: 654px) and (max-width: 1023px) {
  .custom-mt {
    margin-top: 440px; /* Ajuste consolidado para tablets */
  }
}

/* Intervalo de 1025px a 1279px - Dispositivos de tela média */
@media (min-width: 1025px) and (max-width: 1279px) {
  .custom-mt {
    margin-top: 220px; /* Ajuste para dispositivos de tela média */
  }
}

/* Para larguras de 1280px para cima - Ajuste específico para 1280x800px */
@media (min-width: 1280px) {
  .custom-mt {
    margin-top: 590px; /* Ajuste para dispositivos grandes, incluindo 1280x800px */
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .custom-mt {
    margin-top: 140px; /* Ajuste consolidado para tablets */
  }
}

@media (min-width: 540px) and (max-width: 720px) {
  .custom-mt {
    margin-top: 240px; /* Ajuste consolidado para tablets */
  }
}

@media (min-width: 1024px) and (max-width: 600px) {
  .custom-mt {
    margin-top: 940px; /* Ajuste consolidado para tablets */
  }
}

