@media (min-width: 820px) and (max-width: 1024px) {
     .custom-mt {
       margin-top: 300px; /* Ajuste conforme necessário */
     }
   }


@media (min-width: 768px) and (max-width: 1024px) {
     .custom-mt {
       margin-top: 700px; /* Ajuste conforme necessário */
     }
   }


 
   @media (min-width: 540px) and (max-height: 720px) {
     .custom-mt {
       margin-top: 580px; /* Ajuste conforme necessário */
     }
   }
   

   @media (min-width: 853px) and (max-width: 1280px) {
     .custom-mt {
       margin-top: 180px; /* Ajuste conforme necessário */
     }
   }

   
   @media (min-width: 1280px) and (max-height: 800px) {
     .custom-mt {
       margin-top: 380px; /* Ajuste para Nest Hub Max */
     }
   }
   
   @media (min-width: 414px) and (max-width: 896px) {
     .custom-mt {
       margin-top: 720px; /* Ajuste conforme necessário */
     }
   }
   
   @media (min-width: 360px) and (max-width: 740px) {
     .custom-mt {
       margin-top: 720px; /* Ajuste conforme necessário */
     }
   }

@media (min-width: 768px) and (max-width: 1024px) {
     .custom-mt {
       margin-top: 100px; /* Ajuste conforme necessário */
     }
   }
   

   
@media (min-width: 540px) and (max-width: 720px) {
     .custom-mt {
       margin-top: 880px; /* Ajuste conforme necessário */
     }
   }

   @media (min-width: 280px) and (max-width: 653px) {
     .custom-mt {
       margin-top: 500px; /* Ajuste conforme necessário */
     }
   }

   @media (min-width: 412px) and (max-height: 914px) {
     .custom-mt {
       margin-top: 620px; /* Ajuste conforme necessário */
     }
   }

   @media (min-width: 1024px) and (max-height: 600px) {
     .custom-mt {
       margin-top: 360px; /* Ajuste para Nest Hub */
     }
   }

   @media (min-width: 1280px) and (max-height: 800px) {
     .custom-mt {
       margin-top: 360px; /* Ajuste para Nest Hub */
     }
   }

   @media (min-width: 729px) and (max-height: 1206px) {
     .custom-mt {
       margin-top: 180px; /* Ajuste para Nest Hub */
     }
   }

   @media (min-width: 666px) and (max-height: 1206px) {
     .custom-mt {
       margin-top: 100px; /* Ajuste para Nest Hub */
     }
   }

   @media (min-width: 655px) and (max-height: 1206px) {
     .custom-mt {
       margin-top: 100px; /* Ajuste para Nest Hub */
     }
   }

   @media (min-width: 641px) and (max-height: 1206px) {
     .custom-mt {
       margin-top: 100px; /* Ajuste para Nest Hub */
     }
   }

   @media (min-width: 375px) and (max-width: 667px) {
     .custom-mt {
       margin-top: 700px; /* Ajuste conforme necessário */
     }
   }